<!-- Tabla de productos -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
            <!-- Fila de acciones -->
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let producto of coleccionProductos">
            <th scope="row">{{ producto }}</th>
            <td>
                <img src="{{ producto.imagen }}" alt="{{ producto.alt }}" width="100px">
            </td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.categoria }}</td>

            <!-- ACCIONES -->
            <!-- Editar producto -->
            <td>
                <button id="btn-edit" title="Editar" type="button" class="btn btn-outline-warning"
                    data-bs-toggle="modal" data-bs-target="#editarProducto" (click)="mostrarEditar(producto)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>

            <!-- Eliminar producto -->
            <td>
                <button id="btn-delete" title="Eliminar" type="button" class="btn btn-outline-danger"
                    data-bs-toggle="modal" data-bs-target="#eliminarProducto" (click)="mostrarBorrar(producto)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Botón para agregar un nuevo producto -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
    Agregar un nuevo producto
</button>

<!-- Modal para agregar productos -->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Encabezado del modal -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Cuerpo del modal -->
            <div [formGroup]="producto" class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Ingrese el nombre del producto:</label>
                    <input class="form-control" type="text" formControlName="nombre" placeholder="Ej.: bermuda de mujer">
                </div>

                <div class="mb-3">
                    <label class="form-label">Ingrese descripción del producto:</label>
                    <input class="form-control" type="text" formControlName="descripcion" placeholder="Ej.: bermuda azul con estrella de mujer">
                </div>

                <div class="mb-3">
                    <label class="form-label">Ingrese el precio:</label>
                    <input class="form-control" type="number" formControlName="precio" placeholder="...">
                </div>

                <div class="mb-3">
                    <label class="form-label">Seleccione una categoría:</label>
                    <select class="form-control form-select" formControlName="categoria" aria-label="Default select example">
                        <option disabled selected>Elija una opción</option>
                        <option value="zapatillas">Zapatillas</option>
                        <option value="indumentaria">Indumentaria</option>
                        <option value="accesorios">Accesorios</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Ingrese una imagen:</label>
                    <input type="file" accept="imagen/*" (change)="cargarImagen($event)">
                </div>

                <div class="mb-3">
                    <label class="form-label">Ingrese texto alternativo:</label>
                    <input class="form-control" type="text" formControlName="alt" placeholder="Ingrese un texto alternativo">
                </div>
            </div>

            <!-- Acciones del modal -->
            <div class="modal-footer">
                <!-- Botón Guardar con estilo verde -->
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal"
                    (click)="agregarProducto(); limpiarFormulario()">Guardar</button>
                <!-- Botón Cerrar con estilo rojo -->
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar productos -->
<div class="modal fade" *ngFor="let productoEdit of coleccionProductos" id="editarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Encabezado del modal -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edite el siguiente producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Cuerpo del modal -->
            <div [formGroup]="producto" class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Ingrese el nombre del producto:</label>
                    <input class="form-control" type="text" formControlName="nombre" placeholder="{{productoEdit.nombre}}">
                </div>

                <div class="mb-3">
                    <label class="form-label">Ingrese descripción del producto:</label>
                    <input class="form-control" type="text" formControlName="descripcion" placeholder="{{productoEdit.descripcion}}">
                </div>

                <div class="mb-3">
                    <label class="form-label">Ingrese el precio:</label>
                    <input class="form-control" type="number" formControlName="precio" placeholder="{{productoEdit.precio}}">
                </div>

                <div class="mb-3">
                    <label class="form-label">Seleccione una categoría:</label>
                    <select class="form-control form-select" formControlName="categoria" aria-label="Default select example">
                        <option disabled selected>Elija una opción</option>
                        <option value="zapatillas">Zapatillas</option>
                        <option value="indumentaria">Indumentaria</option>
                        <option value="accesorios">Accesorios</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Ingrese una imagen:</label>
                    <input type="file" accept="imagen/*" (change)="cargarImagen($event)">
                </div>

                <div class="mb-3">
                    <label class="form-label">Ingrese texto alternativo:</label>
                    <input class="form-control" type="text" formControlName="alt" placeholder="{{productoEdit.alt}}">
                </div>
            </div>

            <!-- Acciones del modal -->
            <div class="modal-footer">
                <!-- Botón Guardar con estilo verde -->
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="editarProducto()">Guardar cambios</button>
                <!-- Botón Cerrar con estilo rojo -->
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para eliminar productos -->
<div class="modal fade" *ngIf="modalVisibleProducto" id="eliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Encabezado del modal -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro de eliminar el producto?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Cuerpo del modal -->
            <div class="modal-body">
                {{productoSeleccionado.nombre}}
                <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}" width="100px">
            </div>
            
            <!-- Acciones del modal -->
            <div class="modal-footer">
                <!-- Botón Eliminar con estilo rojo -->
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="borrarProducto()">Eliminar</button>
                <!-- Botón Cerrar con estilo secundario -->
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
