<h1>  𝙄𝙉𝙄𝘾𝙄𝙊 </h1>
<br>
<div class="carousel-container">
  <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="https://static.zara.net/assets/public/1808/57e0/89fb4ee099e9/6d6b04a33214/00495319800-e1/00495319800-e1.jpg?ts=1725275974466&w=563" alt="...">
          </div>
          <div class="carousel-item">
              <img src="https://static.zara.net/assets/public/844d/c9b6/68ef44759353/9a3e96f1946d/01930408811-e1/01930408811-e1.jpg?ts=1710162403127&w=563" alt="...">
          </div>
          <div class="carousel-item">
              <img src="https://static.zara.net/assets/public/b739/17ed/93be40e0a6a4/88e6bed9b449/01538499406-e1/01538499406-e1.jpg?ts=1721977938913&w=563" alt="...">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">𝙉𝙀𝙓𝙏</span>
      </button>
  </div>
</div>
