.container{
    display: flex;
    padding: 10px;
    justify-content: center;
}



h1{
    text-align: center;
}

.contenido{
    width: 350px;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
}

p{
    padding: 5px;
}
@media (min-width:300px) and (max-width:700px){

}

@media (min-width:700px){
    .container{
        display: flex;
        padding: 10px;
        justify-content: center;
    }
    
    h1{
        text-align: center;
    }
    
    .contenido{
        width: 350px;
        display: inline-block;
        padding: 15px;
        border-radius: 8px;
        margin: 10px;
    }
    
    p{
        padding: 5px;
    }
    
}